/* flash message */
.flash-messages {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flash-messages p {
    margin: 0;
    color: #fff;
    background-color: #ff4444;
    padding: 10px;
    border-radius: 5px;
}

/* form styles */
form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}

.navbar{
    margin-bottom: 20px;
}
